.trevor-Noah {
  text-align: justify;
  margin-left: 5%;
  margin-right: 2%;
  font-size: 25px;
  color: #01655e;
}

#born-crime {
  text-align: left;
  font-size: 50px;
}
#images {
  margin-top: 60%;
  margin-left: 10%;
  margin-bottom: 2%;
  width: 280px;
}
.reading-section {
  display: flex;
  /* box-shadow: 10px 10px 10px#F97D30; */
  font-size: 23px;
  
}
.buttons{
  background-color: #f97d30;
 color: #01655e;
  padding: 18px;
  margin-left: -9%;
  margin-top: 3%;
  border-radius: 50px;
  width: 150px;
  font-size: 20px;
 
  margin-bottom: 5%;
  
}
.buttons a{
  text-decoration: none;
  color: #01655e;
  
  
}


@media screen and (max-width: 470px) {
  .reading-section {
    flex-direction: column;
    /* box-shadow: 10px 10px 10px#F97D30; */
  }
  #born-crime {
    text-align: left;
    font-size: 20px;
  }
  .trevor-Noah {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
  }
  #images {
    /* margin-top: 2%;
    margin-left: 30%;
    margin-bottom: 0%; */
    width: 150px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 870px) {
  .reading-section {
    flex-direction: column;
  }
  #born-crime {
    text-align: left;
    font-size: 20px;
  }
  .trevor-Noah {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
  }
  #images {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
}
@media screen and (max-width: 1170px) {
  .reading-section {
    display: flex;
  }
  #born-crime {
    text-align: left;
    font-size: 20px;
  }
  .trevor-Noah {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
  }
  #images {
    width: 150px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 720px) {
  .reading-section {
    flex-direction: column;
  }
  #born-crime {
    text-align: left;
    font-size: 30px;
  }
  .trevor-Noah {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
  }
  #images {
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 0%;
    height: 150px;
    width: 150px;
  }
}
@media screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1368px) and (max-height: 1368px) {
  .reading-section {
    flex-direction: column;
  }
  #born-crime {
    text-align: left;
    font-size: 30px;
  }
  .trevor-Noah {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
  }
  #images {
    display: block;
    margin: 3% auto;
    margin-bottom: 0%;
    height: 350px;
    width: 250px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 600px) and (max-height: 600px) {
  .reading-section {
    display: flex;
  }
  #born-crime {
    text-align: left;
    font-size: 25px;
  }
  .trevor-Noah {
    text-align: justify;
    margin-left: 4%;
    margin-right: 3%;

    font-size: 15px;
  }
  #images {
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 2%;
    width: 250px;
    height: 350px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 800px) and (max-height: 800px) {
  .reading-section {
    display: flex;
  }
  #born-crime {
    text-align: left;
    font-size: 50px;
  }
  .trevor-Noah {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;

    font-size: 18px;
  }
  #images {
    margin-top: 70%;
    margin-left: 10%;
    margin-bottom: 2%;
    width: 200px;
    
  }
  #born-crime {
    text-align: left;
    font-size: 30px;
  }
}
